*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: black;
}

nav {
    background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(255, 0, 0));
    color: rgba(255, 60, 0, 0.877);
    display: flex;
    justify-content: space-between;
}

section {
    background-color: rgb(0, 0, 0);
    color: rgb(235, 40, 26);
}

main {
    background-image: linear-gradient(45deg, rgb(39, 36, 36), rgb(197, 47, 47));
    color: rgb(236, 131, 11);
}

a {
    color: rgb(255, 230, 2);
    background-color: rgb(117, 4, 4);
    border: 2px solid;
    border-radius: 6px;
    border-color: rgb(253, 208, 8);
    cursor: pointer;
    padding: 0 10px;
}

a:hover {
    background-color: rgb(54, 5, 5);
}

img {
    position: relative;
    display: flex;
    padding: 0 20px;
    border: 5px solid;
    border-radius: 15px;
}

form{
    background-image: linear-gradient(45deg, rgb(39, 36, 36), rgb(197, 47, 47));
    color: rgb(236, 131, 11);
}

input {
    padding: 10px;
    margin: 5px;
    border: 3px solid;
    border-radius: 5px;
    border-color: rgb(247, 153, 45);
}